.subscribe {
    background-color: var(--color-accent);
    color: var(--color-white);



    height: 200px;

}

.subscribe__title {
    font-size: 28px;
}

.subscribe__container {
    max-width: 760px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.subscribe__container form input {
    border: none;
    margin-right: 10px;
    width: 502px;
    height: 44px;
    font-size: 14px;
    border: 1px var(--color-white) solid;
    padding:0 10px;
}

.subscribe__container form input::placeholder{
    color: var(--color-accent);
    font-size: 14px;
    
}

.subscribe__container form button {
    border: none;
    width: 145px;
    height: 44px;
    font-size: 16px;
    color: var(--color-white);
    background-color: transparent;
    border: 1px var(--color-white) solid;
    cursor: pointer;
}

.subscribe__container form button:hover {
    color: var(--color-accent);
    background-color: var(--color-white)
}