@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


:root {
  --color-accent: #29CC6A;
  --color-white: #ffffff;
  --color-black: #2B2D26;
  --color-grey: #787A7C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  cursor: pointer;
}

ul {
  list-style: none;
}