@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


:root {
  --color-accent: #29CC6A;
  --color-background: #ffffff;
  --color-primary: #2B2D26;
  --color-secondary: #787A7C;

  --color-footer-bg: #2B2D26;
  --color-footer: #ffffff;
}

[data-theme="dark"] {
  --color-accent: #29CC6A;
  --color-background: #2B2D26;
  --color-primary: #ffffff;
  --color-secondary: #787A7C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}